<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="formContainer">
    <form method="POST" action="/library/launcher/applications">
        <label for="name">App Name</label>
        <input id="name" type="text" name="name"><br />
        <label for="description">App Description</label>
        <input id="description" type="text" name="description"><br />
        <label for="icon">App icon in url for icon format</label>
        <input id="icon" type="url" name="icon"><br />
        <input type="submit" id="formSubmit" value="Create"><br />
    </form>
</div>
</body>
</html>